main {
    margin: 0 auto;
    padding: 30px;
}

.intro {
  text-align: center;
}

.container {
  margin: 0 auto;
  width:100%;
  height: 500px;
  text-align: center;
}

.answer-container {
  width: 105px;
  margin: 0 auto;
  text-align: left;
}

body {
    background-color: #2E3192;
}

p,
h1,
h3,
h2,
h4,
span {
    color: #fff;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.question-container {
  display: none;
  padding: 15px;
  width: 600px;
  left: 30%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.slide-up {
    text-align: center;
}

.choices {
    display: block;
    padding-top: 10px;
}

.start {
    margin-top: 20px;
}

.selectChoice {
    overflow: hidden;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: bold;
}

/*.selectChoice:nth-child(1) {
  float: left;
}

.selectChoice:nth-child(3) {
 float: left;
}*/

.choice {
    padding-top: 17px;
    position: absolute;
}

.correct {
    border: 3px solid green;
}

.incorrect {
    border: 3px solid red;
}

.next-question {
    margin-top: 30px;
}