main {
  padding: 30px;
}

.choices {
  display: block;
  padding-top: 10px;
}

.start {
  margin-top: 20px;
}


.test {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

.choice label {
  display: inline;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
  text-decoration: line-through;
}

.selected {
  background-color: lightgray;
}