main {
    margin: 0 auto;
    padding: 30px;
}

.intro {
    text-align: center;
}

.container {
    margin: 0 auto;
    height: 500px;
    text-align: center;
    position: relative;
    right: 70px;
}

.answer-container {
    width: 130px;
    margin: 0 auto;
    text-align: left;
}

body {
    background-color: #2E3192;
}

p,
h1,
h3,
h2,
h4,
span {
    color: #fff;
    font-family: 'Space Mono', monospace;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.question-container {
    display: none;
    padding: 15px;
    width: 600px;
    left: 30%;
    background: rgba(0, 0, 0, 0.3);
    /*margin-left: 303px;*/
    position: absolute;
}


.choices {
    display: block;
    padding-top: 10px;
}

.start {
    margin-top: 20px;
}

.button-style {
    border: 5px solid #34495e;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Space Mono', monospace;
    background-color: #7c74a3;
    color: white;
}

.results {
  margin-left: 130px;
}

/*.select-choice:nth-child(1) {
  float: left;
}

.select-choice:nth-child(3) {
 float: left;
}*/

.choice {
    padding-top: 17px;
    position: absolute;
}

.correct {
    border: 6px solid green;
}

.correct-answer {
  
}

.incorrect {
    border: 6px solid red;
}

.next-question {
    margin-top: 30px;
}

.select-choice {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: bold;
    width: 130px;
    max-height: 100px;
}